
    <title>设置-个人信息</title>
     <link rel="icon" href="/assets/img/favicon.ico">

    <link rel="stylesheet" type="text/css" href="/static/home/css/all.css" />
    <link rel="stylesheet" type="text/css" href="/static/home/css/pages-seckillOrder.css" />


    <!--header-->
    <div id="account">
        <div class="py-container">
            <div class="yui3-g home">
                <!--左侧列表-->
                {include file="member_left"/}
                <!--右侧主内容-->
                <div class="yui3-u-5-6">
                    <div class="body userAddress">
                        <div class="address-title">
                            <span class="title">地址管理</span>
                            <a data-toggle="modal" data-target="#addModel" data-keyboard="false"   class="sui-btn  btn-info add-new">添加新地址</a>
                            <span class="clearfix"></span>
                        </div>
                        <div class="address-detail">
                            <table class="sui-table table-bordered">
                                <thead>
                                            <tr>
                                                <th>姓名</th>
                                                <th>地址</th>
                                                <th>联系电话</th>
                                                <th>操作</th>
                                            </tr>
                                </thead>
                                <tbody>
                                            {foreach $address as $v}
                                            <tr address_id="{$v.id}" area="{$v.area}" address="{$v.address}">
                                                <td>{$v.consignee}</td>
                                                <td>{$v.area} {$v.address}</td>
                                                <td>{$v.phone}</td>
                                                <td>
                                                    <a data-toggle="modal" data-target="#editModel" data-keyboard="false"  class="edit">编辑</a>
                                                    <a href="{:url('home/address/delete',['id'=>$v.id])}" class="delete" >删除</a>
                                                    {if($v.is_default)}默认地址{/else}<a href="">设为默认</a>{/if}
                                                </td>
                                            </tr>
                                            {/foreach}
                                </tbody>
                            </table>                   
                        </div>
                        <!--添加新增地址弹出层-->
                         <div  tabindex="-1" role="dialog" id="addModel" data-hasfoot="false" class="sui-modal hide fade" style="width:580px;">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" data-dismiss="modal" aria-hidden="true" class="sui-close">×</button>
                                        <h4 id="myModalLabel" class="modal-title">新增地址</h4>
                                    </div>
                                    <div class="modal-body">
                                        <form action="{:url('home/address/setaddress')}" id="add_form" method="post" class="sui-form form-horizontal">
                                            <div class="control-group">
                                                <label class="control-label">收货人：</label>
                                                <div class="controls">
                                                    <input type="text" class="input-medium" name="consignee">
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label">所在地区：</label>
                                                <div class="controls">
                                                    <div data-toggle="distpicker">
                                                        <div class="form-group area">
                                                            <select class="form-control" id="province1" name="province"></select>
                                                        </div>
                                                        <div class="form-group area">
                                                            <select class="form-control" id="city1"  name="city"></select>
                                                        </div>
                                                        <div class="form-group area">
                                                            <select class="form-control" id="district1" name="district"></select>
                                                        </div>
                                                    </div>
                                                </div>									 
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label">详细地址：</label>
                                                <div class="controls">
                                                    <input type="text" name="address" class="input-large">
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label">联系电话：</label>
                                                <div class="controls">
                                                    <input type="text" name="phone" class="input-medium">
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label">邮箱：</label>
                                                <div class="controls">
                                                    <input type="text" name="email" class="input-medium">
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label">地址别名：</label>
                                                <div class="controls">
                                                    <input type="text" name="readdress" class="input-medium">
                                                </div>
                                                <div class="othername">
                                                    建议填写常用地址：<a href="#" class="sui-btn btn-default">家里</a>　<a href="#" class="sui-btn btn-default">父母家</a>　<a href="#" class="sui-btn btn-default">公司</a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" data-ok="modal" class="sui-btn btn-primary btn-large" id="ok">确定</button>
                                        <button type="button" data-dismiss="modal" class="sui-btn btn-default btn-large">取消</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- 修改地址弹出层 -->
                        <div  tabindex="-1" role="dialog" data-hasfoot="false" id="editModel" class="sui-modal hide fade" style="width:580px;">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" data-dismiss="modal" aria-hidden="true" class="sui-close">×</button>
                                            <h4 id="myModalLabel" class="modal-title">修改地址相关信息</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form action="{:url('home/address/update')}" method="post" id="edit_form" class="sui-form form-horizontal">
                                               <input type="hidden" name="id">
                                                <div class="control-group">
                                                    <label class="control-label">收货人：</label>
                                                    <div class="controls">
                                                        <input type="text" class="input-medium" name="consignee">
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <label class="control-label">所在地区：</label>
                                                    <div class="controls">
                                                            <div id="distpicker2">
                                                                    <div class="form-group area">
                                                                        <select class="form-control" id="province1" name="province"></select>
                                                                    </div>
                                                                    <div class="form-group area">
                                                                        <select class="form-control" id="city1"  name="city"></select>
                                                                    </div>
                                                                    <div class="form-group area">
                                                                        <select class="form-control" id="district1" name="district"></select>
                                                                    </div>
                                                                </div>
                                                    </div>									 
                                                </div>
                                                <div class="control-group">
                                                    <label class="control-label">详细地址：</label>
                                                    <div class="controls">
                                                        <input type="text" id="address" name="address" class="input-large">
                                                    </div>
                                                </div>
                                                <div class="control-group">
                                                    <label class="control-label">联系电话：</label>
                                                    <div class="controls">
                                                        <input type="text" name="phone" class="input-medium">
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" data-ok="modal" class="sui-btn btn-primary btn-large" id="nook">确定</button>
                                            <button type="button" data-dismiss="modal" class="sui-btn btn-default btn-large">取消</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script type="text/javascript" src="/static/home/js/all.js"></script>
<script type="text/javascript" src="/static/home//static/home/pages/userInfo/distpicker.data.js"></script>
<script type="text/javascript" src="/static/home//static/home/pages/userInfo/distpicker.js"></script>
<script type="text/javascript" src="/static/home//static/home/pages/userInfo/main.js"></script>
<script>
    $('#ok').click(function(){
        $('#add_form').submit();
    });
    $('#nook').click(function(){
        $('#edit_form').submit();
    });

    $(function(){
        $('.edit').click(function(){
            var id = $(this).closest('tr').attr('address_id');
            $('#editModel input[name=id]').val(id);
            
            var consignee = $(this).closest('tr').find('td:first').html();
            var phone = $(this).closest('tr').find('td:eq(2)').html();
            var address = $(this).closest('tr').attr('address');

            $('#editModel input[name=consignee]').val(consignee);
            $('#editModel input[name=phone]').val(phone);
            $('#editModel input[name=address]').val(address);

            //获取到省市区，用/分隔  销毁地址组件效果并重置设置
            var area = $(this).closest('tr').attr('area').split(' ');
            $('#distpicker2').distpicker('destroy').distpicker({
                province: area[0],
                city: area[1],
                district: area[2]
            });
        });
    });

</script>
</body>

</html>